<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="style/style.css">
    <title>EventosApp</title>
</head>

<body>
    <div class="container">

        <header>

            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Evento</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a class="btn" href="/eventos"><i class="material-icons left">home</i>Home</a></li>
                    </ul>
                </div>
            </nav>

        </header>


        <div class="row card-panel green lighten-5 detalhesEvento" >
            <p>Nome: <span th:text="${evento.nome}"></span></p>
            <p>Local: <span th:text="${evento.local}"></span></p>
            <p>Data: <span th:text="${evento.data}"></span></p>
            <p>Horário: <span th:text="${evento.horario}"></span></p>
        </div>
        <div th:each="evento : ${evento}" class="formConvidado">
            
            <form action="" method="post">
                <label>Nome:
                    <input type="text" value="" name="nomeConvidado">
                </label>
                <label>RG:
                    <input type="text" value="" name="rg">
                </label>
                <div style="text-align:center; padding-top: 1em;">
                    <button type="submit" class="waves-effect waves-light btn"><i class="material-icons left">save</i>Adicionar</button>
                </div>
            </form>
        </div>

        <th:block th:include="mensagemValidacao"></th:block>

    <br>
        <table class="container tables">
            <thead>
                <tr>
                    <td>Nome Convidado</td>
                    <td>RG</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="convidado : ${convidados}">
                    <td><span th:text="${convidado.nomeConvidado}"></span></td>
                    <td><span th:text="${convidado.rg}"></span></td>
                </tr>
            </tbody>
        </table>

        <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    </div>

</body>

</html>