<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
    <title>EventosApp</title>
</head>

<body>
    <div class="container">
        <h3><a href="/cadastrarEvento" class="waves-effect waves-light btn"><i
                    class="material-icons left">add_circle_outline</i>Cadastrar Evento</a></h3>
        <h1 style="text-align: center;">Lista de Eventos</h1>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Local</th>
                    <th>Data</th>
                    <th>Horário</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="evento : ${evento}">

                    <td><a th:href="${(#mvc.url('EC#detalhesEvento').arg(0,evento.id)).build()}"><span th:text="${evento.nome}"></span></a></td>
                    <td th:text="${evento.local}"></td>
                    <td th:text="${evento.data}"></td>
                    <td th:text="${evento.horario}"></td>
                </tr>
            </tbody>
        </table>
        <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    </div>

</body>

</html>